<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div>
        <!-- Hiển thị hình ảnh sản phẩm -->
        <img th:src="@{/api/file/SanPham/{filename}(filename=${product.hinhAnh})}" alt="Hình ảnh sản phẩm" 
        	style="height: 100px" class="img-fluid">
        
        <!-- Hiển thị tên sản phẩm -->
        <h2 th:text="${product.tenSanPham}">Tên sản phẩm</h2>
        
        <!-- Hiển thị giá sản phẩm -->
        <p>Giá: <span th:text="${product.giaTien}">0</span> VNĐ</p>
        
        <!-- Hiển thị số lượng sản phẩm -->
        <p>Số lượng: <span th:text="${product.soLuong}">0</span></p>
    </div>
</body>
</html>