<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<div class="container-fluid">
    <div class="row">
        <header>
            <div class="logo">
                <a href=""><img src="image/logo.png" alt="Logo"></a>
            </div>
            <div class="search">
                <input type="search" placeholder="Tìm kiếm...">
            </div>
            <div class="icon-container">
				<div class="dropdown">
                    <button class="user" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <a href="" class="function"><i class="fa-regular fa-circle-user" alt="Tài khoản"></i></a>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Thông tin tài khoản</a></li>
                      <li><a class="dropdown-item" href="#">Đăng Nhập</a></li>
                      <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                    </ul>
                  </div>
                <a href="" class="function"><i class="fa-solid fa-cart-shopping" alt="Giỏ hàng"></i></a>
                <a href="" class="function"><i class="fa-solid fa-phone-volume" alt="Liên hệ"></i></a>
            </div>
        </header>
        <nav>
            <div class="navbar">
                <a href="#" th:href="@{/}"><b>Trang chủ</b></a>
                <a href="#" th:href="@{/}"><b>Sản phẩm</b></a>
                <a href="#" th:href="@{/}"><b>Giỏ hàng</b></a>
                <a href="#" th:href="@{/}"><b>Giới thiệu</b></a>
                <a href="#" th:href="@{/}"><b>Hỗ trợ</b></a>
            </div>
        </nav>
        </div>
    </div>
</div>
</html>