<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<!-- Footer start -->
	<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
		<div class="row px-xl-5 pt-5">
			<div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
				<h5 class="text-secondary text-uppercase mb-4 translatable" data-translate="contact">Liên Hệ</h5>
				<p class="mb-4"></p>
				<p class="mb-2">
					<i class="fa fa-map-marker-alt text-primary mr-3"></i><span data-translate="address">123 Đường ABC, Hà Nội, Việt Nam</span>
				</p>
				<p class="mb-2">
					<i class="fa fa-envelope text-primary mr-3"></i><span data-translate="email">th@gmail.com</span>
				</p>
				<p class="mb-0">
					<i class="fa fa-phone-alt text-primary mr-3"></i><span data-translate="phone">+012 345 67890</span>
				</p>
			</div>
			<div class="col-lg-8 col-md-12">
				<div class="row">
					<div class="col-md-4 mb-5">
						<h5 class="text-secondary text-uppercase mb-4 translatable" data-translate="quick_shop">Mua Sắm Nhanh</h5>
						<div class="d-flex flex-column justify-content-start">
							<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i><span data-translate="home">Trang Chủ</span></a>
							<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i><span data-translate="our_store">Cửa Hàng Của Chúng Tôi</span></a>
							<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i><span data-translate="store_details">Chi Tiết Cửa Hàng</span></a>
							<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i><span data-translate="cart">Giỏ Hàng</span></a>
							<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i><span data-translate="checkout">Thanh Toán</span></a>
							<a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i><span data-translate="contact">Liên Hệ</span></a>
						</div>
					</div>
					<div class="col-md-4 mb-5">
						<h5 class="text-secondary text-uppercase mb-4 translatable" data-translate="my_account">Tài Khoản Của Tôi</h5>
						<div class="d-flex flex-column justify-content-start">
							<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i><span data-translate="home">Trang Chủ</span></a>
							<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i><span data-translate="our_store">Cửa Hàng Của Chúng Tôi</span></a>
							<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i><span data-translate="store_details">Chi Tiết Cửa Hàng</span></a>
							<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i><span data-translate="cart">Giỏ Hàng</span></a>
							<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i><span data-translate="checkout">Thanh Toán</span></a>
							<a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i><span data-translate="contact">Liên Hệ</span></a>
						</div>
					</div>
					<div class="col-md-4 mb-5">
						<h5 class="text-secondary text-uppercase mb-4 translatable" data-translate="newsletter">Bản Tin</h5>
						<p></p>
						<form action="">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Email Của Bạn" data-translate="email_placeholder">
								<div class="input-group-append">
									<button class="btn btn-primary" data-translate="subscribe">Đăng Ký</button>
								</div>
							</div>
						</form>
						<h6 class="text-secondary text-uppercase mt-4 mb-3 translatable" data-translate="follow_us">Theo Dõi Chúng Tôi</h6>
						<div class="d-flex">
							<a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
							<a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
							<a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
							<a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
			<div class="col-md-6 px-xl-0"></div>
		</div>
	</div>
	<!-- Footer End -->
	
</body>
</html>
