.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 0 0 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.col-6 {
    flex: 0 0 60%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.name, .price, .quantity, .status {
    margin: 0;
    padding: 5px 0;
}

.price-num, .quantity-num, .quantity-info {
    font-weight: bold;
}

.description {
    flex: 1 100%;
    margin-top: 20px;
}

.descript-info {
    font-style: italic;
    color: #555;
}