<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title data-translate="order_detail_title">Chi Tiết Đơn Hàng</title>
    <link rel="stylesheet" href="styles.css">
    <script>
        // Hàm để định dạng tiền tệ
        function formatCurrency(amount) {
            return amount.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
        }

        // Hàm tính tổng tiền và định dạng giá trị
        function calculateTotal() {
            let total = 0;
            let rows = document.querySelectorAll("#orderDetailsTable tbody tr");

            rows.forEach(row => {
                let quantity = parseInt(row.querySelector(".quantity").textContent);
                let price = parseFloat(row.querySelector(".price").getAttribute("data-price"));
                
                total += quantity * price;

                let priceElement = row.querySelector(".price");
                priceElement.textContent = formatCurrency(price);
            });

            document.getElementById("totalAmount").textContent = formatCurrency(total);
        }
    </script>
</head>
<body>
    <div class="container">
        
        <h2 data-translate="order_detail_title">Chi Tiết Đơn Hàng</h2>
        
        <div class="divider"></div>
        
        <table id="orderDetailsTable">
            <thead>
                <tr>
                    <th data-translate="product">Hình ảnh</th>
                    <th data-translate="product_name">Tên sản phẩm</th>
                    <th data-translate="quantity">Số lượng</th>
                    <th data-translate="price">Giá tiền</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="chiTiet : ${chiTietDonHang}">
					<td><img style="height: 200px; width: 220px;" th:src="@{/api/file/SanPham/{fileName}(fileName=${chiTiet.SanPham.hinhAnh})}" alt="Hình ảnh"></td>					                               
                    <td th:text="${chiTiet.sanPham.tenSanPham}"></td> 
                    <td class="quantity" th:text="${chiTiet.soLuong}"></td>
                    <td class="price" th:text="${chiTiet.giaTien}" th:attr="data-price=${chiTiet.giaTien}"></td>
                </tr>
            </tbody>
        </table>
        
        <div class="total-price">
            <strong data-translate="total_price">Tổng tiền </strong> : <span id="totalAmount">0.00 VND</span> 
        </div>
    </div>

    <script>
        window.onload = calculateTotal;
    </script>
</body>
</html>
