<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Trang Chủ</title>
</head>
<body ng-controller="controller">

	<!-- carousel start -->
	<div class="container-fluid mb-3">
		<div class="row px-xl-5">
			<div class="col-lg-8">
				<div id="header-carousel"
					class="carousel slide carousel-fade mb-30 mb-lg-0"
					data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#header-carousel" data-slide-to="0"
							class="active"></li>
						<li data-target="#header-carousel" data-slide-to="1"></li>
						<li data-target="#header-carousel" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item position-relative active"
							style="height: 430px;">
							<img class="position-absolute w-100 h-100"
								th:src="@{/shopz/img/banner1.jpg}" style="object-fit: cover;">
							<div
								class="carousel-caption d-flex flex-column align-items-center justify-content-center">
								<div class="p-3" style="max-width: 700px;">
									<h1
										class="display-4 text-white mb-3 animate__animated animate__fadeInDown">LAPTOP
										GIÁ RẺ</h1>
									<p class="mx-md-5 px-5 animate__animated animate__bounceIn"></p>
									<a
										class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
										th:href="@{/shop}">Xem Ngay</a>
								</div>
							</div>
						</div>
						<div class="carousel-item position-relative"
							style="height: 430px;">
							<img class="position-absolute w-100 h-100"
								th:src="@{/shopz/img/xps.jpg}" style="object-fit: cover;">
							<div
								class="carousel-caption d-flex flex-column align-items-center justify-content-center">
								<div class="p-3" style="max-width: 700px;">
									<h1
										class="display-4 text-white mb-3 animate__animated animate__fadeInDown">XPS
										9230</h1>
									<p class="mx-md-5 px-5 animate__animated animate__bounceIn">Mới
										ra mắt</p>
									<a
										class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
										href="#">Xem Ngay</a>
								</div>
							</div>
						</div>
						<div class="carousel-item position-relative"
							style="height: 430px;">
							<img class="position-absolute w-100 h-100"
								th:src="@{shopz/img/predator.jpg}" style="object-fit: cover;">
							<div
								class="carousel-caption d-flex flex-column align-items-center justify-content-center">
								<div class="p-3" style="max-width: 700px;">
									<h1
										class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Predator</h1>
									<p class="mx-md-5 px-5 animate__animated animate__bounceIn">Giảm
										10%</p>
									<a
										class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
										href="#">Xem Ngay</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="product-offer mb-30" style="height: 200px;">
					<img class="img-fluid" th:src="@{shopz/img/legion.png}" alt="">
					<div class="offer-text">
						<h6 class="text-white text-uppercase">Giảm giá 20%</h6>
						<h3 class="text-white mb-3">Ưu đãi đặc biệt</h3>
					</div>
				</div>
				<div class="product-offer mb-30" style="height: 200px;">
					<img class="img-fluid" th:src="@{shopz/img/macbookslide.jpg}"
						alt="">
					<div class="offer-text">
						<h6 class="text-white text-uppercase">Giảm giá 20%</h6>
						<h3 class="text-white mb-3">Ưu đãi đặc biệt</h3>
					</div>
				</div>
			</div>

			<!-- Carousel End -->


			<!-- Featured Start -->
			<div class="container-fluid pt-5">
				<div class="row px-xl-5 pb-3">
					<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
						<div class="d-flex align-items-center bg-light mb-4"
							style="padding: 30px;">
							<h1 class="fa fa-check text-primary m-0 mr-3"></h1>
							<h5 class="font-weight-semi-bold m-0">Sản phẩm chất lượng</h5>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
						<div class="d-flex align-items-center bg-light mb-4"
							style="padding: 30px;">
							<h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
							<h5 class="font-weight-semi-bold m-0">Miễn phí vận chuyển</h5>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
						<div class="d-flex align-items-center bg-light mb-4"
							style="padding: 30px;">
							<h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
							<h5 class="font-weight-semi-bold m-0">Đổi trả trong 14 ngày</h5>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
						<div class="d-flex align-items-center bg-light mb-4"
							style="padding: 30px;">
							<h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
							<h5 class="font-weight-semi-bold m-0">Hỗ trợ 24/7</h5>
						</div>
					</div>
				</div>
			</div>

			<!-- Featured End -->


			<!-- Categories Start -->
			<div class="container-fluid pt-5">
				<h2
					class="section-title position-relative text-uppercase mx-xl-5 mb-4">
					<span class="bg-secondary pr-3">Danh mục sản phẩm</span>
				</h2>
				<div class="row px-xl-5 pb-3">
					<div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-1">
						<a class="text-decoration-none" href="#">
							<div class="cat-item d-flex align-items-center mb-4">
								<div class="overflow-hidden"
									style="width: 100px; height: 100px;"></div>
								<div class="flex-fill pl-3">
									<h6>Laptop</h6>
									<small class="text-body">100 sản phẩm</small>
								</div>
							</div>
						</a>
					</div>

					<div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-1">
						<a class="text-decoration-none" href="#">
							<div class="cat-item d-flex align-items-center mb-4">
								<div class="overflow-hidden"
									style="width: 100px; height: 100px;"></div>
								<div class="flex-fill pl-3">
									<h6>Máy in</h6>
									<small class="text-body">100 sản phẩm</small>
								</div>
							</div>
						</a>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-1">
						<a class="text-decoration-none" href="#">
							<div class="cat-item d-flex align-items-center mb-4">
								<div class="overflow-hidden"
									style="width: 100px; height: 100px;"></div>
								<div class="flex-fill pl-3">
									<h6>Linh Kiện</h6>
									<small class="text-body">100 sản phẩm</small>
								</div>
							</div>
						</a>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-1">
						<a class="text-decoration-none" href="#">
							<div class="cat-item d-flex align-items-center mb-4">
								<div class="overflow-hidden"
									style="width: 100px; height: 100px;"></div>
								<div class="flex-fill pl-3">
									<h6>PC</h6>
									<small class="text-body">100 sản phẩm</small>
								</div>
							</div>
						</a>
					</div>

					<!-- Thêm các cột danh mục sản phẩm khác ở đây -->
				</div>
			</div>

			<!-- Categories End -->


			<!-- Products Start -->
			<div class="container-fluid pt-5 pb-3">
				<h2
					class="section-title position-relative text-uppercase mx-xl-5 mb-4">
					<span class="bg-secondary pr-3">Sản phẩm mới</span>
				</h2>
				<div class="row px-xl-5">
					<div ng-repeat="pro in items | limitTo:8"
						class="col-lg-3 col-md-4 col-sm-6 pb-4">
						<div class="product-item bg-light mb-4 d-flex flex-column">
							<div class="product-img position-relative overflow-hidden">
								<img class="img-fluid w-100"
									ng-src="{{'/api/file/SanPham/'+pro.hinhAnh}}" alt=""
									style="object-fit: cover; height: 250px;">
								<div class="product-action">
									<a class="btn btn-outline-dark btn-square"
										ng-href="{{'/detail/'+pro.maSanPham}}">
										<button>
											<i class="fa fa-shopping-cart"></i>
										</button>
									</a>
								</div>
							</div>
							<div class="text-center py-4 flex-grow-1">
								<a class="h6 text-decoration-none text-truncate" href=""
									style="display: block; max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
									{{pro.tenSanPham}} </a> <a
									class="h6 text-decoration-none text-truncate" href=""
									style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
									{{pro.chungLoai.tenChungLoai}} </a> <a
									class="h6 text-decoration-none text-truncate" href=""
									style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
									{{pro.nhaCungCap.tenNhaCungCap}} </a>


								<div
									class="d-flex align-items-center justify-content-center mt-2">
									<h5>{{pro.giaTien | number:0}} VND</h5>
								</div>
								<div
									class="d-flex align-items-center justify-content-center mb-1">
									<small class="fa fa-star text-primary mr-1"></small> <small
										class="fa fa-star text-primary mr-1"></small> <small
										class="fa fa-star text-primary mr-1"></small> <small
										class="fa fa-star text-primary mr-1"></small> <small
										class="fa fa-star text-primary mr-1"></small> <small>(99)</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--<div class="container-fluid pt-5 pb-3">
				<h2
					class="section-title position-relative text-uppercase mx-xl-5 mb-4">
					<span class="bg-secondary pr-3">Sản phẩm nổi bật</span>
				</h2>
				<div class="row px-xl-5">
					<div ng-repeat="pro in items | limitTo:4"
						class="col-lg-3 col-md-4 col-sm-6 pb-1">
						<div class="product-item bg-light mb-4">
							<div class="product-img position-relative overflow-hidden">
								<img class="img-fluid w-100"
									ng-src="{{'/api/file/SanPham/'+pro.hinhAnh}}" alt="">
								<div class="product-action">
									<a class="btn btn-outline-dark btn-square">
										<button ng-click="cart.add(pro.maSanPham)">
											<i class="fa fa-shopping-cart"></i>
										</button>
									</a> <a class="btn btn-outline-dark btn-square" href=""><i
										class="far fa-heart"></i></a> <a
										class="btn btn-outline-dark btn-square" href=""><i
										class="fa fa-sync-alt"></i></a> <a
										class="btn btn-outline-dark btn-square" href=""><i
										class="fa fa-search"></i></a>
								</div>
							</div>
							<div class="text-center py-4">
								<a class="h6 text-decoration-none text-truncate" href="">{{pro.tenSanPham}}</a>
								<div
									class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>{{pro.giaTien | number:0}} VND</h5>
									
								</div>
								<div
									class="d-flex align-items-center justify-content-center mb-1">
									<small class="fa fa-star text-primary mr-1"></small> <small
										class="fa fa-star text-primary mr-1"></small> <small
										class="fa fa-star text-primary mr-1"></small> <small
										class="fa fa-star text-primary mr-1"></small> <small
										class="fa fa-star text-primary mr-1"></small> <small>(99)</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->

			<!-- Products End -->


			<!-- Offer Start -->
			<div class="container-fluid pt-5 pb-3">
				<div class="row px-xl-5">
					<div class="col-md-6">
						<div class="product-offer mb-30" style="height: 300px;">
							<img class="img-fluid" th:src="@{/shopz/img/offer.jpg}" alt="">
							<div class="offer-text">
								<h6 class="text-white text-uppercase">Giảm 20%</h6>
								<h3 class="text-white mb-3">Mọi mặt hàng</h3>

							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="product-offer mb-30" style="height: 300px;">
							<img class="img-fluid" th:src="@{/shopz/img/mac.webp}" alt="">
							<div class="offer-text">
								<h6 class="text-white text-uppercase">Ưu đãi đặc biệt</h6>
								<h3 class="text-white mb-3">Miễn phí ship</h3>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Offer End -->

		</div>
	</div>
</body>
</html>