<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sản Phẩm</title>
</head>
<body ng-controller="controller">
	<!-- Breadcrumb Start -->
	<div class="container-fluid">
		<div class="row px-xl-5">
			<div class="col-12">
				<nav class="breadcrumb bg-light mb-30">
					<a class="breadcrumb-item text-dark" href="#">Trang Chủ</a> <a
						class="breadcrumb-item text-dark" href="#">Sản Phẩm</a> <span
						class="breadcrumb-item active">Danh Sách Sản Phẩm</span>
				</nav>
			</div>
		</div>
	</div>
	<!-- Breadcrumb End -->


	<!-- Shop Start -->
	<div class="container-fluid">
		<div class="row px-xl-5">
			<!-- Shop Sidebar Start -->
			<div class="col-lg-3 col-md-4">
				<!-- Price Start -->
				<h5 class="section-title position-relative text-uppercase mb-3">
					<span class="bg-secondary pr-3">Lọc Theo Giá</span>
				</h5>
				<div class="bg-light p-4 mb-30">
					<form>
						<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" checked
								id="price-all"> <label class="custom-control-label"
								for="price-all">Giá</label> <span
								class="badge border font-weight-normal">1000</span>
						</div>
						<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" id="price-1">
							<label class="custom-control-label" for="price-1">5 triệu
								- 10 triệu</label> <span class="badge border font-weight-normal">150</span>
						</div>
						<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" id="price-1">
							<label class="custom-control-label" for="price-1">12
								triệu - 20 triệu</label> <span class="badge border font-weight-normal">150</span>
						</div>
						<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" id="price-1">
							<label class="custom-control-label" for="price-1">20
								triệu - 30 triệu</label> <span class="badge border font-weight-normal">150</span>
						</div>
						<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" id="price-1">
							<label class="custom-control-label" for="price-1">30
								triệu ↑ </label> <span class="badge border font-weight-normal">150</span>
						</div>
					</form>
				</div>
				
				<!-- Price Start -->
				<h5 class="section-title position-relative text-uppercase mb-3">
					<span class="bg-secondary pr-3">Lọc Theo Chủng Loại</span>
				</h5>
				<div class="bg-light p-4 mb-30">
					<form>

						<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" id="price-1">
							<label class="custom-control-label" for="price-1">Laptop</label>
							<span class="badge border font-weight-normal">150</span>
						</div>
						<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" id="price-1">
							<label class="custom-control-label" for="price-1">PC</label> <span
								class="badge border font-weight-normal">150</span>
						</div>
						<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" id="price-1">
							<label class="custom-control-label" for="price-1">Linh
								Kiện</label> <span class="badge border font-weight-normal">150</span>
						</div>
						<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" id="price-1">
							<label class="custom-control-label" for="price-1">Máy in
							</label> <span class="badge border font-weight-normal">150</span>
						</div>
					</form>
				</div>
				<h5 class="section-title position-relative text-uppercase mb-3">
					<span class="bg-secondary pr-3">Lọc Theo Nhà Cung Cấp</span>
				</h5>
				<div class="bg-light p-4 mb-30">
					<form>

						<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" id="price-1">
							<label class="custom-control-label" for="price-1">MSI</label>
							<span class="badge border font-weight-normal">150</span>
						</div>
						<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" id="price-1">
							<label class="custom-control-label" for="price-1">ACER</label> <span
								class="badge border font-weight-normal">150</span>
						</div>
						<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" id="price-1">
							<label class="custom-control-label" for="price-1">ASUS</label> <span class="badge border font-weight-normal">150</span>
						</div>
						<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" id="price-1">
							<label class="custom-control-label" for="price-1">HP
							</label> <span class="badge border font-weight-normal">150</span>
						</div>
						<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" id="price-1">
							<label class="custom-control-label" for="price-1">Sony
							</label> <span class="badge border font-weight-normal">150</span>
						</div>
							<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" id="price-1">
							<label class="custom-control-label" for="price-1">Corsair
							</label> <span class="badge border font-weight-normal">150</span>
						</div>
					</form>
				</div>
				<!-- Price End -->



				<!-- Size Start -->

				<!-- Size End -->
			</div>
			<!-- Shop Sidebar End -->


			<!-- Shop Product Start -->
			<!-- Sản Phẩm Cửa Hàng Bắt Đầu -->
			<div class="col-lg-9 col-md-8">
				<div class="row pb-3">
					<div class="col-12 pb-1">
						<div
							class="d-flex align-items-center justify-content-between mb-4">
							<div>
								<button class="btn btn-sm btn-light">
									<i class="fa fa-th-large"></i>
								</button>
								<button class="btn btn-sm btn-light ml-2">
									<i class="fa fa-bars"></i>
								</button>
							</div>
							
						</div>
					</div>
					<div ng-repeat="pro in pager.items | filter: searchText"
						class="col-lg-3 col-md-6 col-sm-6 pb-1">
						<div class="product-item bg-light mb-4 d-flex flex-column">
							<div class="product-img position-relative overflow-hidden">
								<img class="img-fluid w-100"
									ng-src="{{'/api/file/SanPham/'+pro.hinhAnh}}" alt=""
									style="object-fit: cover; height: 200px;">
								<div class="product-action">
									<a class="btn btn-outline-dark btn-square">
										<button ng-click="cart.add(pro.maSanPham)">
											<i class="fa fa-shopping-cart"></i>
										</button>
									</a> 
								</div>
							</div>
							<div class="text-center py-4 flex-grow-1"
								style="display: flex; flex-direction: column;">
								<!-- Prevent text overflow and ensure it doesn't break out of container -->
								<a class="h6 text-decoration-none text-truncate" href=""
									style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block;">
									{{pro.tenSanPham}} </a>
								<hr>
								<a class="h6 text-decoration-none text-truncate" href=""
									style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
									{{pro.chungLoai.tenChungLoai}} </a> <a
									class="h6 text-decoration-none text-truncate" href=""
									style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
									{{pro.nhaCungCap.tenNhaCungCap}} </a>
									<a class="h6 text-decoration-none text-truncate" href=""
									style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
									Số Lượng {{pro.soLuong}} </a>

								<div
									class="d-flex align-items-center justify-content-center mt-2">
									<h5>{{pro.giaTien | number:0}} VND</h5>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12">
						<nav>
							<ul class="pagination justify-content-center">
								<li class="page-item"><a class="page-link"
									ng-click="pager.first()" tabindex="-1">Đầu Tiên</a></li>
								<li class="page-item"><a class="page-link"
									ng-disabled="page == 1" ng-click="pager.prev()">Trước</a></li>
								<li class="page-item"><a class="page-link" href="#">{{pager.page
										+ 1}} của {{pager.count}}</a></li>
								<li class="page-item"><a class="page-link"
									ng-click="pager.next()">Tiếp Theo</a></li>
								<li class="page-item"><a class="page-link"
									ng-click="pager.last()">Cuối Cùng</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>



			<!-- Sản Phẩm Cửa Hàng Kết Thúc -->

		</div>
	</div>
	<!-- Shop End -->
</body>
</html>